<?xml version="1.0"?>
<!--
/* Glory to Ukraine! Glory to the heros! */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Onepage\Success">
        <plugin 
        	name="codelegacy_successaccess_checkout_controller_onepage_success" 
        	type="Codelegacy\SuccessAccess\Plugin\Success"
        />
    </type>
</config>