<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <codelegacy_extra_shipping_block>
            <general>
                <enabled>1</enabled>
            </general>
        </codelegacy_extra_shipping_block>
    </default>
</config>
