<div id="bottom-shipping-info-block" data-bind="visible: canVisibleBlock">
    <h4>
        Additional Sasha's test Block
    </h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque justo id elit dapibus imperdiet nec ut leo. Aenean et magna et nulla sodales accumsan at ut tortor. Fusce sit amet neque congue, semper elit cursus, faucibus leo. Integer finibus dolor sed varius posuere. Praesent eu tempus ipsum, ac interdum lectus. Sed varius laoreet lacus, ornare consequat magna sagittis id. Nulla quis urna sit amet sem viverra pellentesque id at odio. </p>
        <p>Praesent id ipsum a ipsum dignissim sodales. Nam at tellus massa. Suspendisse potenti. Duis ut lobortis est. Proin luctus neque at urna interdum, sit amet efficitur tellus consequat. Nulla sed tristique nisi, eget elementum arcu. Vivamus feugiat augue dui, sed fringilla sapien facilisis a.</p>
</div>
