<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section 
            id="codelegacy_extra_shipping_block"
            translate="label" 
            type="text" 
            sortOrder="1" 
            showInDefault="1" 
            showInWebsite="1" 
            showInStore="1">
            <label>Extra Shipping Info</label>
            <tab>codelegacy_extensions</tab>
            <resource>Codelegacy_AdditionalShippingBlock::codelegacy_block_config</resource>
            <group
                id="general"
                translate="label"
                type="text"
                sortOrder="4"
                showInDefault="1"
                showInWebsite="1"
                showInStore="1">
                <label>General Config</label>
                <comment>
                    <![CDATA[
                    <div id="extra-shipping-blocks description">
                        <p>
                            This feature was created to make possible to show custom content inside shipping selecton block on checkout page.
                        </p>
                    </div>

                  ]]>
                </comment>
                <field 
                    id="enabled" 
                    translate="label" 
                    type="select" 
                    sortOrder="10" 
                    showInDefault="1" 
                    showInWebsite="1" 
                    showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable extra blocks inside shipping selection on checkout page</comment>
                </field>
            </group>
        </section>
    </system>
</config>