<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Webapi\ErrorProcessor">
        <plugin 
        	disabled="false" 
        	name="Codelegacy_DebuggerException_Plugin_Magento_Framework_Webapi_ErrorProcessor" 
        	sortOrder="10" 
        	type="Codelegacy\DebuggerException\Plugin\Magento\Framework\Webapi\ErrorProcessor"
        />
    </type>
</config>