<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Codelegacy\LogRepository\Api\LogRepositoryInterface" type="Codelegacy\LogRepository\Model\LogRepository" />
    <preference for="Codelegacy\LogRepository\Api\Data\LogInterface" type="Codelegacy\LogRepository\Model\Log" />
</config>
